# <center>**Capstone Project: Climate Impact and Prediction Modeling**</center> #

## <center>Data Loading and Preprocessing</center>

### <center>Introduction</center> ###
In this notebook we will go over the necessary data being used in this current version of the project and a step by step description will be provided as we go along.

### <center>Imported Modules</center> ###
Here we will import all necessary supporting modules that we will need through out the notebook.

In [1]:
import pandas as pd
import math as math
import numpy as np
import matplotlib.pyplot as plt

### <center>Imported Data</center> ###
Here we will import all our data so we can view it, preprocess it, and clean it.

The references for all the data will be provided at the bottom.

In [5]:
world_temp = pd.read_csv("global-temperature-anomalies-by-month.csv")
Global_warming_by_gas_and_source = pd.read_csv("global-warming-by-gas-and-source.csv")
Global_warming_by_fossil = pd.read_csv("global-warming-fossil.csv")
CO2_Emissions_by_Country = pd.read_csv("annual-co2-emissions-per-country.csv")
CO2_Emissions_per_capita = pd.read_csv("co-emissions-per-capita.csv")
GHG_per_capita = pd.read_csv("per-capita-ghg-emissions.csv")
methane_per_capita = pd.read_csv("per-capita-methane-emissions.csv")
nitrous_oxide_per_capita = pd.read_csv("per-capita-nitrous-oxide.csv")
Countries_By_Income_Classification = pd.read_csv("countries-by-income-classification.csv")
GDPPC_maddison = pd.read_csv("gdp-per-capita-maddison.csv")
GDPPC_worldbank = pd.read_csv("gdp-per-capita-worldbank.csv")
GDPPC_penn = pd.read_csv("gdp-per-capita-penn-world-table.csv")
Population = pd.read_csv("population-and-demography.csv")
Land_Usage = pd.read_csv("land-use-over-the-long-term.csv")

From here the data will be sorted into two seperate groups:
##### Global Warming: #####
- Gas Emissions
- Global Temperatures

##### Economic Development: #####
- Regional or Country Specific Economic Growth
- Population changes
- Land Usage

### <center> Global Warming </center> ###
Here the global warming data will be explored one by one.

In [11]:
world_temp.describe()

       Code         Year  Temperature anomaly
count   0.0  1016.000000          1016.000000
mean    NaN  1981.834646            -0.330755
std     NaN    24.453761             0.387380
min     NaN  1940.000000            -1.060034
25%     NaN  1961.000000            -0.636508
50%     NaN  1982.000000            -0.427380
75%     NaN  2003.000000            -0.047876
max     NaN  2024.000000             0.930606

The range of this data goes from 1940 to 2024 in a monthly increment.

In [13]:
world_temp.isnull().sum()

Entity                    0
Code                   1016
Year                      0
Temperature anomaly       0
dtype: int64

Code here can be ignored since this is a placeholder column, meaning the data is 100% here with no missing values.

In [15]:
Global_warming_by_gas_and_source.describe()

,Year,Change in global mean surface temperature caused by nitrous oxide emissions from fossil fuels and industry,Change in global mean surface temperature caused by nitrous oxide emissions from agriculture and land use,Change in global mean surface temperature caused by methane emissions from fossil fuels and industry,Change in global mean surface temperature caused by methane emissions from agriculture and land use,Change in global mean surface temperature caused by CO₂ emissions from fossil fuels and industry,Change in global mean surface temperature caused by CO₂ emissions from agriculture and land use
count,41280.000000,3.784000e+04,3.715200e+04,37840.000000,36980.000000,4.093600e+04,36636.000000
mean,1936.500000,1.523874e-04,3.774921e-04,0.001684,0.001380,4.010030e-03,0.003863
std,49.651885,9.112282e-04,2.055087e-03,0.009604,0.006900,2.744131e-02,0.017857
min,1851.000000,0.000000e+00,0.000000e+00,0.000000,-0.000693,0.000000e+00,-0.001109
25%,1893.750000,1.863429e-07,5.025215e-07,0.000001,0.000002,0.000000e+00,0.000005
50%,1936.500000,1.664020e-06,7.576835e-06,0.000017,0.000034,8.518776e-07,0.000100
75%,1979.250000,1.362088e-05,6.887503e-05,0.000201,0.000258,1.009572e-04,0.000618
max,2022.000000,2.298785e-02,5.971938e-02,0.259437,0.157149,7.764043e-01,0.359545

In [16]:
Global_warming_by_gas_and_source.isnull().sum()

Entity                                                                                                           0
Code                                                                                                          3956
Year                                                                                                             0
Change in global mean surface temperature caused by nitrous oxide emissions from fossil fuels and industry    3440
Change in global mean surface temperature caused by nitrous oxide emissions from agriculture and land use     4128
Change in global mean surface temperature caused by methane emissions from fossil fuels and industry          3440
Change in global mean surface temperature caused by methane emissions from agriculture and land use           4300
Change in global mean surface temperature caused by CO₂ emissions from fossil fuels and industry               344
Change in global mean surface temperature caused by CO₂ emissions from agriculture and land use               4644
dtype: int64

From here

### <center>Citations & References</center> ###

<center>Global Carbon Budget (2023); Population based on various sources (2023) – with major processing by Our World in Data. “Annual CO₂ emissions (per capita) – GCB” [dataset]. Global Carbon Project, “Global Carbon Budget”; Various sources, “Population” [original data].</center> 
<br><br>
<center>Jones et al. (2024); Population based on various sources (2023) – with major processing by Our World in Data. “Per-capita greenhouse gas emissions” [dataset]. Jones et al., “National contributions to climate change 2024.1”; Various sources, “Population” [original data].</center>
<br><br>
<center>Jones et al. (2024); Population based on various sources (2023) – with major processing by Our World in Data. “Per-capita methane emissions” [dataset]. Jones et al., “National contributions to climate change 2024.1”; Various sources, “Population” [original data].</center>
<br><br>
<center>Jones et al. (2024); Population based on various sources (2023) – with major processing by Our World in Data. “Per-capita nitrous oxide emissions” [dataset]. Jones et al., “National contributions to climate change 2024.1”; Various sources, “Population” [original data].</center>
<br><br>
<center>Jones et al. (2024) – with major processing by Our World in Data. “Change in global mean surface temperature caused by greenhouse gas emissions from fossil fuels and industry” [dataset]. Jones et al., “National contributions to climate change 2024.1” [original data].</center>
<br><br>
<center>Global Carbon Budget (2023) – with major processing by Our World in Data. “Annual CO₂ emissions – GCB” [dataset]. Global Carbon Project, “Global Carbon Budget” [original data].</center>
<br><br>
<center>United States Department for Agriculture (USDA) Economic Research Service – processed by Our World in Data. “Agricultural output” [dataset]. United States Department for Agriculture (USDA) Economic Research Service [original data].</center>
<br><br>
<center>HYDE (2023) – with minor processing by Our World in Data. “Built-up Area” [dataset]. PBL Netherlands Environmental Assessment Agency, “History Database of the Global Environment 3.3” [original data].</center>
<br><br>
<center>HYDE (2023) – with minor processing by Our World in Data. “Land use: Agriculture” [dataset]. PBL Netherlands Environmental Assessment Agency, “History Database of the Global Environment 3.3” [original data].</center>
<br><br>
<center>HYDE (2023) – with minor processing by Our World in Data. “Land use: Cropland” [dataset]. PBL Netherlands Environmental Assessment Agency, “History Database of the Global Environment 3.3” [original data].</center>
<br><br>
<center>HYDE (2023) – with minor processing by Our World in Data. “Land use: Grazingland” [dataset]. PBL Netherlands Environmental Assessment Agency, “History Database of the Global Environment 3.3” [original data].</center>
<br><br>
<center>**Contains modified Copernicus Climate Change Service information (2019) – with major processing by Our World in Data. “Temperature anomaly” [dataset]. Contains modified Copernicus Climate Change Service information, “ERA5 monthly averaged data on single levels from 1940 to present 2” [original data].**</center>
<br><br>
<center>**Jones et al. (2024) – with major processing by Our World in Data. “Change in global mean surface temperature caused by CO₂ emissions from agriculture and land use” [dataset]. Jones et al., “National contributions to climate change 2024.1” [original data].**</center>
<br><br>
<center>World Bank (2024) – with major processing by Our World in Data. “Number of high-income countries” [dataset]. World Bank, “Income Classifications” [original data].</center>
<br><br>
<center>Feenstra et al. (2015), Penn World Table (2021) – with major processing by Our World in Data. “GDP per capita – Penn World Table” [dataset]. Feenstra et al. (2015), Penn World Table (2021), “Penn World Table” [original data].</center>
<br><br>
<center>Feenstra et al. (2015), Penn World Table (2021) – with major processing by Our World in Data. “GDP” [dataset]. Feenstra et al. (2015), Penn World Table (2021), “Penn World Table” [original data].**</center> 
<br><br>
<center>World Bank (2023) – with minor processing by Our World in Data. “Gross domestic product (GDP) – World Bank” [dataset]. World Bank, “World Bank World Development Indicators” [original data].</center>
<br><br>
<center>World Bank (2023) – with minor processing by Our World in Data. “GDP per capita – World Bank – In constant 2017 international $” [dataset]. World Bank, “World Bank World Development Indicators” [original data].</center>
<br><br>
<center>Bolt and van Zanden - Maddison Project Database 2023 – with minor processing by Our World in Data. “GDP per capita – Maddison Project Database – Historical data” [dataset]. Bolt and van Zanden, “Maddison Project Database 2023” [original data].</center>
<br><br>
<center>UN, World Population Prospects (2024) – processed by Our World in Data. “Population, total
 – UN WPP” [dataset]. United Nations, “World Population Prospects” [original data].</center>
<br><br>
<center></center>
<br><br>
<center></center>
<br><br>
<center></center>
<br><br>
<center></center>
<br><br>
<center></center>
<br><br>